{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <h1>Wiki</h1>
                <form>

                </form>
                <div>
                  {% block rando %}
                  <a href="{% url 'encyclopedia:randomy' %}">Random Page</a>
                  {% endblock %}
                </div>
                {% block nav %}
                <a href="{% url 'encyclopedia:add' %}">Add a New Entry</a>
                {% endblock %}

                {% block below %}
                <ul>
                <h3>Entries:</h3>
                {% for entry in entries %}
                <li><a href="{% url 'encyclopedia:greet' title=entry %}">{{ entry }}</a></li>
                {% endfor %}
                </ul>
                {% endblock %}
                </div>


                <div class="main col-lg-10 col-md-9">

                {% block editbox %}
                <h3> Hey kids, title and content here please: </h3>
                <ul> <form action="{% url 'encyclopedia:add' %}" method="post"> </ul>
                <ul> <input type="submit"> </ul>
                {% csrf_token %}
                <ul> {{ form }} </ul>
                </form>
                {% endblock %}
                </body>



                </html>
